.detail--wrapper {
  max-width: 350px;
  width: 80vw;
  height: 90vh;
  margin: 5vh auto;
  padding: 5vh 5vw;
  border: 1px solid rgb(221, 221, 221);
  box-sizing: border-box;
  border-radius: 5px;
  .detail--title {
    text-align: center;
    .detail--hr {
      color: rgb(255, 255, 255);
      font-weight: 900;
      background: orange;
      padding: 0.2rem;
      border-radius: 5px;
    }
  }
  .detail--rate {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0px;
    width: 100%;
    .rate__selected {
      width: 30px;
      height: 30px;
      border-radius: 30px;
      margin: 5px;
      background-color: rgb(255, 235, 59);
    }
    .rate__nonselected {
      width: 30px;
      height: 30px;
      border-radius: 30px;
      margin: 5px;
      background-color: #eee;
    }
  }
  .detail--submit {
    width: 100%;
    background-color: purple;
    border: none;
    border-radius: 5px;
    padding: 1rem;
    color: rgb(255, 255, 255);
  }
}
