.list--wrapper {
  max-width: 350px;
  width: 80vw;
  height: 90vh;
  margin: 5vh auto;
  padding: 5vh 0px;
  border: 1px solid #eee;
  box-sizing: border-box;
  border-radius: 5px;
  h3 {
    text-align: center;
  }
  .star--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0px;
    width: 100%;
    p {
      margin: 0px 0.5rem 0px 0px;
      font-weight: bold;
    }

    .star--arrow {
      appearance: none;
      background-color: transparent;
      border-color: transparent purple;
      width: 0px;
      height: 0px;
      border-top-width: 1rem;
      border-top-style: solid;
      border-bottom-width: 1rem;
      border-bottom-style: solid;
      border-left-width: 1.6rem;
      border-left-style: solid;
      color: rgb(255, 255, 255);
      cursor: pointer;
    }
  }
}
